













/*/////////////////// KOD FÖR STARTMENYN*/


body {
font-family: courier;
}
.bg {
    background: url(img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family:"Courier New";
}

a:link {
    color: black;
}

a:hover {
    color: blue;
}

.buttonText {
    color: black;
    font-size: 20px;
}

.tableWidth1{
    width:60%;
}

.tableWidth2{
    width:10%;
}

.tableWidth3{
    width:10%;
}

.textBox {
    height: 50px;
    font-size: 12pt;
    width: 350px;
}


.buttonBox {
    background-color: gainsboro;

}

#produktsida section ul li{
padding: 0;
}

#produktsida ul {
   list-style-type: none;

}

#produktsida {
text-align: center;

}

#produktsida ul li {
   background-color: grey;
   padding: 10px 30px;
   display: inline-block;
   padding: 10px 20px;

}



#varor figure {
   background-color: #F4FAFA;
   display: inline-block;
   padding: 10px 30px;
   margin-top: 10px;
   margin-top: auto;
   border: 2px solid grey;
}

#produksida, #varor h1 {
   text-align: center;


}
@media (max-width: 768px){
#produktsida ul li{
float:left;
width: 100%;

}

.buttonText{
display: flex;
flex-direction: column;
}

.tableWidth1{
    width:100%;
}

.tableWidth2{
    width:100%;
}
}
.buttonBox {
    background-color:gainsboro;

}
@media (max-width: 768px){
  .buttonText{
        display: flex;
        flex-direction: column;
    }
    .tableWidth1{
        width:100%;
    }

    .tableWidth2{
        width:100%;
    }

    .tableWidth3{
        width:100%;
        height: 60px;
    }

      .kontakt li{
        display:inline;
        width: auto;
        border:none;

    }
}


a:link {
    color: black;
}

}

#varor figure {


.wholePageFont{
    font-family:"Courier New";
}
#varor img{
display: flex;
flex-direction: column;

}
}

.tableWidth3{
    width:100%;
    height: 50px;
}
}
