main{

}
section:nth-child(2){

}
section:first-child{

}
















/*/////////////////// KOD FÖR STARTMENYN*/

.bg {
    background: url(img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.buttonText {
    color: black;
    font-size: 20px;
}

.tableWidth1{
    width:60%;
}

.tableWidth2{
    width:10%;
}

.tableWidth3{
    width:10%;
}

.textBox {
    height: 50px;
    font-size: 12pt;
    width: 350px;
}


.buttonBox {
    background-color: darkolivegreen;

}

.rad:after {
    content: "";
    display: table;
    clear: both;
}
.kolumn {
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 50px;
}
#betala{
    text-align: left;
    padding-bottom: 30px;
}
#frakta{
    text-align: left;
}
#skicka{
    padding-top: 30px;
    text-align: left;
}
@media (max-width: 768px) {
    .rad{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #betala{
        padding-left: 100px;
        padding-top: 30px;
    }
    #frakta{
        padding-left: 100px;
    }
    #skicka{
        padding-left: 100px;
    }
    #footer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .buttonText{
        display: flex;
        flex-direction: column;
    }
    .tableWidth1{
        width:100%;
    }

    .tableWidth2{
        width:100%;
    }

    .tableWidth3{
        width:100%;
    }

}
#footer{
    margin-top: 30px;
    padding-top: 150px;
    border-top-style: double;
}
.ft{
    padding-left: 50px;
    padding-bottom: 50px;
}